
@{
    ViewBag.Title = "Map";
}

@section pageCSS{

<style type="text/css">
    #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
</style>
}

<h2>@ViewBag.Title</h2>

    <div id="map-canvas"></div>

@section scripts{
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBopT9ewSunk9Mzwu2O8siN0RXVyb7CfYs">
    </script>
    <script type="text/javascript">
        function initialize() {
            console.log('Initialize called');
            var mapOptions = {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}